@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100%;
}
.wrapper {
    background: rgba(243,226,199,1);
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 6%, rgba(193,158,103,1) 61%, rgba(182,141,76,1) 98%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(6%, rgba(243,226,199,1)), color-stop(61%, rgba(193,158,103,1)), color-stop(98%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 6%, rgba(193,158,103,1) 61%, rgba(182,141,76,1) 98%, rgba(233,212,179,1) 100%);
height: 100vh;
position: relative;
 
}
.wrapper::before {
    position: absolute;
    content: "";
    background: url(./horse.png) center center no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%; 
    left:-10%;
    top: 5%;
}

.knight__label {
    display: flex;
    flex-direction: column;
}

.knight-input {
    padding: 10% 5%;
}
.error {
    width: 100%;
    border:2px solid #ff7675;
    padding: 3% 3%;
    opacity:0;
    transition: opacity 0.5s;
}

.knight-step {
    margin:0 auto;
    padding-top: 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn--ok  {
    border-radius: 10px;
    background-color: rgba(255,255,255,0);
    
    transition:  0.5s;
    border: 2px solid white;
    padding:1rem 2rem;
    cursor: pointer;
    
}

#btn--ok:hover {
    background-color: rgba(255,255,255,1);
}
